@model ByteAttack.Models.Funcionario
@{
    ViewBag.Title = "CadFuncionario";
}
<br /><br />


<style>
    h2{
        color:red;
    }
</style>
<h2>Dados Cadastrados com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Funcionario")</p>
<p>@Html.ActionLink("Visualizar Funcionário", "ListarFuncionario")</p>

