@model ByteAttack.Models.Procedimento

@{
    ViewBag.Title = "CadProcedimento";
}
<br />

<h2>Dados do Procedimento Cadastrados com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Procedimento")</p>
<p>@Html.ActionLink("Visualizar Procedimento", "ListarProcedimento")</p>