@model ByteAttack.Models.Especialista

@{
    ViewBag.Title = "CadEspecialista";
}
<br />

<h2>Especialista Cadastrado com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Especialista")</p>
<p>@Html.ActionLink("Visualizar Especialista", "ListarEspecialista")</p>