@model ByteAttack.Models.Cliente

@{
    ViewBag.Title = "CadCliente";
}
<br />

<h2>Dados Cadastrados com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cliente")</p>
<p>@Html.ActionLink("Visualizar Cliente", "ListarCliente")</p>